@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

:root {
   --primary-color: #E9FFF9;
   --secondary-color: #9ED8DB;
   --accent1-color: #467599;
   --accent2-color: #1D3354;

   --heading-font: Roboto, italic;
   --paragraph-font: Inter, italic;

   --nav-background-color: #0000FF;
   --nav-link-color: #90c2E4;
   --nav-hover-link-color: #FFFFFF;
   --nav-hover-background-color: #222E50;

    --primary2-color: #233142;
    --secondary2-color: #455d7A;
    --tertiary2-color: #F95959;
    --quaternary2-color: #E3E3E3;
    --another2-color: #09814A;

}

* {
 margin: 0 auto;
 max-width: 960px;  
}

/* 
Couldn't get this to work :'(

div.hero h1, div.hero article {
    position: absolute;
    opacity: 10%
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
} */

/* .images {
   display: grid;
   justify-content: space-between;
   align-items: center;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: 20% 20% 20% 20% 20%;
} */

div.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    margin: auto 0;
}


body {
   font-family: var(--paragraph-font);
   background-color: var(--primary-color);
   max-width: 960px;
   padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--heading-font);
   color: var(--accent2-color)
}

header {
   display: grid;
   grid-template-columns: 1fr;
   align-items:last baseline;
   max-width: 1000px;
   padding: 20px;
   background-color: var(--secondary-color);
   justify-content: center;
}

header img {
   max-width: 530px;
}

p {
   font-family: var(--paragraph-font);
   padding: 25px;
   min-width: 100px;
}

nav {
   background-color: var(--nav-background-color);
   font-size: 1.2rem;
   display: flex;
   list-style: none;
   align-items: flex-end;
}

nav a {
   display: block;
   color: var(--nav-hover-link-color);
   text-decoration: none;
   padding: 1rem;
   align-items: flex-end;
}

nav a:link {
   color: var(--nav-hover-link-color);
   flex: 1 1 100%;
   align-items: flex-end;
}

nav a:visited {
   color: var(--nav-hover-link-color)
}

nav a:hover {
   color: var(--nav-hover-link-color);
   background-color: var(--nav-hover-background-color)
}

main {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: space-between;
}

footer nav {
   display: flex;
   justify-content: flex-end;
 }
 
footer nav ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 
footer nav li {
   margin-left: 10px; 
 }
 
form {
    display: inline-block;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid black;
    background-color: var(--nav-hover-background-color);
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 1rem;
    border: 1px solid var(--accent1-color);
    padding: 2rem;
}

legend {
    padding: 1rem;
    color: var(--nav-link-color);
    font-size: 1.5rem;
}

label {
   text-align: right;
   padding-right: 1rem;
   color: var(--nav-link-color);
   height: 50px
}

input[type="text"] {
   width: 200px;
   padding: 2%;
   font-size: medium;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    vertical-align: bottom;
}

button {
    margin: 2rem;
    background-color: var(--quaternary2-color);
    color: var(--secondary2-color);
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

button:hover {
    background-color: var(--nav-background-color);
}

input, select, textarea {
    padding: 1rem;
    font-size: 1.5rem;
}

label, input, button, select, textarea {
    font-family: Roboto;
}

img {
   display: flex;
   padding: 0%;
   margin: auto 0;
   justify-content: center;
}

/* CLASS SELECTORS */

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1rem 0;
    margin: auto 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.images h2 {
   justify-content: center;
}

article.hero img {
    float: right
}

.companylogo {
   place-items: center;
}