@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap');

:root {
   --primary-color: #E9FFF9;
   --secondary-color: #9ED8DB;
   --accent1-color: #467599;
   --accent2-color: #1D3354;

   --heading-font: Roboto, italic;
   --paragraph-font: Inter, italic;

   --nav-background-color: #0000FF;
   --nav-link-color: #91AEC1;
   --nav-hover-link-color: #FFFFFF;
   --nav-hover-background-color: #222E50;
}

div.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* 
Couldn't get this to work :'(

div.hero h1, div.hero article {
    position: absolute;
    opacity: 10%
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
} */

article.hero img {
    float: right
}


body {
   font-family: var(--paragraph-font);
   background-color: var(--primary-color);
   max-width: 960px;
   padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: var(--heading-font);
   color: var(--accent2-color)
}

header {
   display: grid;
   grid-template-columns: 10px 1fr 1fr 1fr;
   align-items:last baseline;
   max-width: 1000px;
   padding: 20px;
   background-color: var(--secondary-color);
   justify-content: center;
}

header img {
   max-width: 530px;
}

p {
   font-family: var(--paragraph-font);
   padding: 25px;
   min-width: 100px;
}

nav {
   background-color: var(--nav-background-color);
   font-size: 1.2rem;
   display: flex;
   list-style: none;
   align-items: flex-end;
}

nav a {
   display: block;
   color: var(--nav-hover-link-color);
   text-decoration: none;
   padding: 1rem;
   align-items: flex-end;
}

nav a:link {
   color: var(--nav-hover-link-color);
   flex: 1 1 100%;
   align-items: flex-end;
}

nav a:visited {
   color: var(--nav-hover-link-color)
}

nav a:hover {
   color: var(--nav-hover-link-color);
   background-color: var(--nav-hover-background-color)
}

.images h2 {
   justify-content: center;
}

main {
   display: grid;
   grid-template-columns: 30% 20% 50%;
   justify-content: space-between;
}

/* .images {
   display: grid;
   justify-content: space-between;
   align-items: center;
   grid-template-columns: 20% 20% 20% 20% 20%;
   grid-template-rows: 20% 20% 20% 20% 20%;
} */

footer nav {
   display: flex;
   justify-content: flex-end;
 }
 
 footer nav ul {
   display: flex;
   list-style-type: none;
   margin: 0;
   padding: 0;
 }
 
 footer nav li {
   margin-left: 10px; 
 }
 

 