* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    line-height: 1pt;
}
main {
   max-width: 840px;
}

main section img {
    width: 700;
}

aside {
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;   
    position: relative; 
}

aside h2 {
    top: 5px;
    left: 855px;
    position: absolute;
}
aside img {
    width: 200px;
    height: auto;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: #eee;
    color: black;
}